

<div [class]="styleClass" [ngStyle]="style" [ngClass]="{'pagination ':true}">


    <div style="display:inline;">
        
        <span class="se" (mouseenter)="hoveredItem = $event.target" (mouseleave)="hoveredItem = null"
                        (click)="changePageToFirst()" [ngClass]="{'ui-state-disabled':isFirstPage(),'ui-state-hover':(firstlink === hoveredItem && !isFirstPage())}">
                <span class="fa fa-step-backward"></span>
            </span>
        
        

        <span class="se" #prevlink (mouseenter)="hoveredItem = $event.target" (mouseleave)="hoveredItem = null" (click)="changePageToPrev()"
            [ngClass]="{'ui-state-disabled':isFirstPage(),'ui-state-hover':(prevlink === hoveredItem && !isFirstPage())}">
                <span class="atext ">Previous</span>
        </span>

        <span class="se" #plink *ngFor="let pageLink of pageLinks" (mouseenter)="hoveredItem = $event.target" (mouseleave)="hoveredItem = null"
            (click)="changePage(pageLink - 1)" [ngClass]="{'ui-state-hover':(plink === hoveredItem), 'ui-state-active': (pageLink-1 == getPage())}">{{pageLink}}</span>




        <span class="se" #nextlink (mouseenter)="hoveredItem = $event.target" (mouseleave)="hoveredItem = null" (click)="changePageToNext()"
            [ngClass]="{'ui-state-disabled':isLastPage(),'ui-state-hover':(nextlink === hoveredItem  && !isLastPage())}">
                 <span class="atext ">Next</span>
        </span>
        
        
         <span class="se" (mouseenter)="hoveredItem = $event.target" (mouseleave)="hoveredItem = null"
                    (click)="changePageToLast()" [ngClass]="{'ui-state-disabled':isLastPage(),'ui-state-hover':(lastlink === hoveredItem  && !isLastPage())}">
                <span class="fa fa-step-forward"></span>
            </span>
        

    </div>

   

</div>