

.calendar {
      padding: 20px;
      background-color: white;
    color: grey;
    width: 300px;
    border: 1px solid#DDDDDD;
    margin-top: 20px;
    margin-left: 20px;
  
    border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
     box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
}
.calendar .unit {
  float: left;
  width: 14.28%;
  text-align: center;
}
.calendar .years .prev {
  text-align: left;
}
.calendar .years .next {
  text-align: right;
}
.calendar .years .prev em, .calendar .years .next em {
      
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  cursor: pointer;
  border: 1px solid white;
          border-radius: 50%;

  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
}
.calendar .years .prev em:before, .calendar .years .next em:before {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  margin-top: 6px;
  font-size: 0;
  content: "";
  border-style: solid;
  border-width: 7px;
}
.calendar .years .prev em:before {
  top: 3px;
  left: 4px;
  border-color: transparent white transparent transparent;
}
.calendar .years .next em:before {
  top: 3px;
  left: 13px;
  border-color: transparent transparent transparent white;
}
/*.calendar .years .prev em:hover, .calendar .years .next em:hover, .calendar .years .prev em:active, .calendar .years .next em:active {
  border-color: #e9573f;
}
.calendar .years .prev em:hover:before, .calendar .years .prev em:active:before {
  border-color: transparent #e9573f transparent transparent;
}
.calendar .years .next em:hover:before, .calendar .years .next em:active:before {
  border-color: transparent transparent transparent #e9573f;
}*/
.calendar .years .monyear {
  float: left;
  width: 71.42%;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.calendar .days {
  padding-top: 15px;
  /*margin-top: 15px;
  border-top: 1px solid #ee7f6d;*/
}
.calendar .days .unit {
  height: 34px;
  margin-bottom: 3px;
  line-height: 34px;
  text-align: center;
}
.calendar .days .unit b {
  width: 34px;
  height: 34px;
  font-weight: normal;
          border-radius: 50%;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
}
.calendar .days .unit:hover b, .calendar .days .unit:active b, .calendar .days .unit.active b {
  display: inline-block;
  color: white;
  cursor: pointer;
  background-color:#EF6262 ;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.calendar .days .unit.older b {
  width: auto;
  height: auto;
  color: #E0E5DC;
  cursor: default;
  background-color: transparent;
}
.selectiongroup {
    position: relative;
    display: table;
    border: none;   
    background-color: #FFF;
}
.selection {
    background-color: #FFF;
    display: table-cell;
    position: absolute;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 0 64px 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.selbtngroup {
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
    display: table-cell;
    text-align: right;
    font-size: 0;
}
.btnpicker,
.btnclear {
    height: 100%;
    width: 38px;
    border: none;
    border-left: 1px solid #AAA;
    padding: 0px;
    cursor: pointer;
    outline: 0;
    font: inherit;
    -moz-user-select: none;
    margin-right:-1px;
}
.btnpicker,
.btnclear,
 .headertodaybtn,
 .footerbtn {
    background: #FAFAFA;
    background-image: -webkit-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    background-image: -moz-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    background-image: -o-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    background-image: -ms-linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
    background-image: linear-gradient(#F0F0F0 30%, #AEC2E1 100%);
}
.header {
    width: 100%;
    height: 36px;
    margin-bottom: 1px;
    background-color: #FAFAFA;
    border:0;
}

.header td {
    vertical-align: middle;
    border: none;
}


 .header td:nth-child(1) {
    font-size: 16px;
    padding-left: 4px;
}

.header td:nth-child(2) {
    text-align: center;
}

.header td:nth-child(3) {
    font-size: 16px;
    padding-right: 4px;
}
 /*.prevmonth {
    color: grey;
}

 .nextmonth {
    color: grey;
}*/

 /*.sunday {
    color: #C30000;
}

 .currmonth {
    background-color: #F6F6F6;
    font-weight: bold;
}

 .currday div {
    border: 1px solid #004198;
    border-radius: 50%;
}

 .selectedday div {
    border: 1px solid #004198;
    background-color: #8EBFFF !important;
    border-radius: 0;
}*/
/*
.caltable tbody .currmonth:hover {
    background-color: #6AD0EB;
}*/

 .selectmenu {
    height: 24px;
    width: 60px
}

 .headerbtn {
    background-color: #FAFAFA;
    cursor: pointer;
    display: table-cell;
}

